node_modules/
package-lock.json
.env
.DS_Store
.vscode
api/tmp/
./frontend/public/atama.pdf
./frontend/public/isterler.pdf
uploads/
public/templates/

akademik-basvuru-firebase-adminsdk-fbsvc-0379fe325b.json